<html>
  <head>
    <title>Ivalice Wiki</title>
  </head>
  <body>
    <div id="wrapper">
    <h1>The world of Eternia</h1>
    <p><span style="font-style:italic">A wiki about the land of Eternia</span></p>
    <hr />
    <a href="/">Home</a>
    <a href="/missives">Missives</a>
    <a href="/authors">Authors</a>
    <hr />
    <h4><span style="text-decoration:underline">Missive creation</span></h4>
    <form action="/missives" method="POST">
      <input type="text" name="title" placeholder="Wiki title"><br />
      <textarea name="content" rows="5" cols="30" placeholder="Enter your Missive."></textarea><br />
      <select name="author_id">
        <% authors.each do |author| %>
          <option value="<%= author.id %>"><%= author.user_name %></option>
        <% end %>
      </select>
      <br />
      <button>Submit</button>
    </form>
    </div>
  </body>
</html>
