<html>
  <head>
    <title>Ivalice Wiki</title>
  </head>
  <body>
    <div id="wrapper">
    <h1>The world of Eternia</h1>
    <p><span style="font-style:italic">A wiki about the land of Eternia</span></p>
    <hr />
    <a href="/">Home</a>
    <a href="/authors">Authors</a>
    <a href="/missives">Missives</a> --
    <hr />
    <h4><span style="text-decoration:underline">Versions</span></h4>
      <% all_missives.each do |m| %>

        <%= m["title"] %>
        <%= m["content"] %>
      <% end %>

    </div>
  </body>
</html>
