<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Eternia Wiki</title>
  </head>
  <body>
    <div id="wrapper">
    <h1>The world of Eternia</h1>
    <p><span style="font-style:italic">A wiki about the land of Eternia</span></p>
    <hr />
    <a href="/">Home</a>
    <a href="/authors">Authors</a>
    <a href="/missives">Missives</a> --
    <hr />
    <h4><span style="text-decoration:underline">Versions</span></h4>
      <% all_missives.each do |m| %>
        <h3><a href="/missives/show/<%= m["id"] %>"><span style="text-decoration:underline"><%= m["title"] %></span></a></h3>
        <p><%= markdown m["content"] %></p>
      <% end %>

    </div>
  </body>
</html>
