<html>
  <head>
    <title>Ivalice Wiki</title>
  </head>
  <body>
    <div id="wrapper">
    <h1>The world of Eternia</h1>
    <p><span style="font-style:italic">A wiki about the land of Eternia</span></p>
    <hr />
    <a href="/authors">Authors</a>
    <a href="/auhtors/new">New Author</a>
    <hr />
    </div>
  </body>
</html>
