<html>
  <head>
    <title>Ivalice Wiki</title>
  </head>
  <body>
    <div id="wrapper">
    <h1>The world of Eternia</h1>
    <p><span style="font-style:italic">A wiki about the land of Eternia</span></p>
    <hr />
    <a href="/missives">View Missives</a>
    <a href="/authors">Authors</a>
    <a href="/authors/new">New Author</a>
    <a href="/missives/new">New Missive</a>
    <form action="/missives/show/<%= missive.id %>" method="POST"><input type="text" name="missive_search"
    <hr />
    </div>
  </body>
</html>
