<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Metamorphous' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Eternia Wiki</title>
  </head>
  <body>
    <div id="wrapper">
    <div id="header">
      <h1>The world of Eternia</h1>
      <p><span style="font-style:italic; margin-bottom:5px">A wiki about the land of Eternia</span></p>
  </div>
    <hr />
    <a href="/missives">View Missives</a>
    <a href="/authors">Authors</a>
    <a href="/authors/new">New Author</a>
    <a href="/missives/new">New Missive</a>
    <span style="display:inline;"><form action="/missives/results" method="POST"><input type="text" name="missive_search" placeholder="Search for a Missive here"><button>Submit</button></form></span>
    <hr />
    <div id="eternia">
      <h3>Welcome... Eternia Awaits</h3>
      <p>Center of an ancient empire…
          Once ruled by the Dragonblood….
          Where law is made - and made to be broken.</p>

      <p>Where riches abound - and death does too.
        Where there is always opportunity
        For a few good adventurers:</p>

      <p>To make their mark,
        To rise above their caste...</p>

      <p>To come, perhaps into their own power.</p>
    </div>

    </div>
  </body>
</html>
